@model dynamic
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Search results";
}

<div class="row">
    <div class="col-md-4">
        <div class="content-box search-filters">
            <h1>Search filters</h1>
            <div class="row">
                <button type="button" name="s_all" class="btn btn-primary col-xs-4">
                    <span>All</span>
                </button>
                <button type="button" name="s_groups" class="btn btn-primary col-xs-4 btn-option">
                    <span>Groups</span>
                </button>
                <button type="button" name="s_people" class="btn btn-primary col-xs-4 btn-option">
                    <span>People</span>
                </button>
            </div>
        </div>
        <div class="content-box hidden-mobile">
            <h1>Groups you might find intersting</h1>
            <div class="container image-wall">
                <div class="row">
                    <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_cheese.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_movies.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_programming.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_cycling.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-8 col-sm-6 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_silicon.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_bitcoin.jpg) center / cover;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box hidden-mobile">
            <h1>People you might find intersting</h1>
            <div class="container image-wall">
                <div class="row">
                    <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_cheese.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_movies.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_programming.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_cycling.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-8 col-sm-6 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_silicon.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_bitcoin.jpg) center / cover;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="content-box">
            <h1>Search results</h1>
            <div class="row following-info-container">
                @foreach (var u in Model.Users)
                {
                    <div class="info-photo-container col-sm-12 col-md-6 search-results s_people">
                        <div class="info-container">
                            <a asp-controller="Profile" asp-action="Index" asp-route-id="@u.UserName">
                                @if (u.ProfilePicture != null)
                                {
                                    <div class="info-photo" style="background: url(@u.ProfilePicture) center / cover;">
                                        <div class="info-photo-shade">
                                            <h1>@u.FirstName @u.LastName</h1>
                                        </div>
                                    </div>
                                }
                                @if (u.ProfilePicture == null)
                                {
                                    <div class="info-photo" style="background: url(@Url.Content("~/images/hooli_profilephoto_default.jpg")) center / cover;">
                                        <div class="info-photo-shade">
                                            <h1>@u.FirstName @u.LastName</h1>
                                        </div>
                                    </div>
                                }
                            </a>
                            @if (Model.Following.Contains(u.Id))
                            {
                                <button type="button" data-id="@u.Id" data-url="/Manage/UnfollowUser" class="btn-follow btn btn-primary pull-right btn-trans btn-option">
                                    <span>Unfollow</span>
                                </button>
                            }
                            else
                            {
                                <button type="button" data-id="@u.Id" data-url="/Manage/FollowUser" class="btn-follow btn btn-primary pull-right btn-trans">
                                    <span>Follow</span>
                                </button>
                            }
                        </div>
                    </div>
                }
                @foreach (var g in Model.Groups)
                {
                    <div class="info-photo-container col-sm-12 col-md-6 search-results s_groups">
                        <div class="info-container">
                            <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@g.GroupId">
                                @if (g.Image != null)
                                {
                                    <div class="info-photo" style="background: url(@g.Image) center / cover;">
                                        <div class="info-photo-shade">
                                            <h1>@g.GroupName</h1>
                                        </div>
                                    </div>
                                }
                                @if (g.Image == null)
                                {
                                    <div class="info-photo" style="background: url(@Url.Content("~/images/hooli_groupphoto_default.jpg")) center / cover;">
                                        <div class="info-photo-shade">
                                            <h1>@g.GroupName</h1>
                                        </div>
                                    </div>
                                }
                            </a>
                            @if (Model.Joined.Contains(g.GroupId))
                            {
                                <button type="button" data-id="@g.GroupId" data-url="/Manage/UnfollowGroup" class="btn-follow btn btn-primary pull-right btn-trans btn-option">
                                    <span>Unfollow</span>
                                </button>
                            }
                            else
                            {
                                <button type="button" data-id="@g.GroupId" data-url="/Manage/FollowGroup" class="btn-follow btn btn-primary pull-right btn-trans">
                                    <span>Follow</span>
                                </button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

