@{
    ViewBag.Title = "Groups";
}

@using Hooli.ViewModels
@model SuggestionGroupViewModel


@if (Model.Groups.Count() >= 6)
{
    <div class="content-box">
        @if (Model.ShowInteresting)
        {
            <h1>Groups you might find intesting</h1>
        }
        else
        {
            <h1>Groups</h1>
        }
        <div class="container image-wall">
            <div class="row following-info-container">
                <div class="info-photo-container col-min-padding col-xs-8 col-sm-12 col-md-8">
                    <div class="info-container">
                        <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@Model.Groups[0].GroupId">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.Groups[0].Image) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.Groups[0].GroupName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-4 col-sm-6 col-md-4">
                    <div class="info-container">
                        <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@Model.Groups[1].GroupId">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.Groups[1].Image) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.Groups[1].GroupName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-4 col-sm-6 col-md-4">
                    <div class="info-container">
                        <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@Model.Groups[2].GroupId">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.Groups[2].Image) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.Groups[2].GroupName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-8 col-sm-12 col-md-8">
                    <div class="info-container">
                        <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@Model.Groups[3].GroupId">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.Groups[3].Image) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.Groups[3].GroupName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-8 col-sm-6 col-md-8">
                    <div class="info-container">
                        <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@Model.Groups[4].GroupId">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.Groups[4].Image) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.Groups[4].GroupName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-4 col-sm-6 col-md-4">
                    <div class="info-container">
                        <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@Model.Groups[5].GroupId">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.Groups[5].Image) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.Groups[5].GroupName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}