@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}

@model List<Hooli.Models.ApplicationUser>

<div class="col-md-8">
    <div class="content-box">
        <h1>People you are following</h1>
        <div class="row following-info-container">

            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var u in Model)
                {
                    System.Diagnostics.Debug.WriteLine(u.Id);
                    <div class="info-photo-container col-sm-6 col-md-6">
                        <div class="info-container">
                            <a asp-controller="Profile" asp-action="Index" asp-route-id="@u.UserName">
                                @if (u.ProfilePicture != null)
                                {
                                    <div class="info-photo" style="background: url(@u.ProfilePicture) center / cover;">
                                        <div class="info-photo-shade">
                                            <h1>@u.FirstName @u.LastName</h1>
                                        </div>
                                    </div>
                                }
                                 @if (u.ProfilePicture == null)
                                 {
                                    <div class="info-photo" style="background: url(@Url.Content("~/images/hooli_profilephoto_default.jpg")) center / cover;">
                                        <div class="info-photo-shade">
                                            <h1>@u.FirstName @u.LastName</h1>
                                        </div>
                                    </div>
                                 }
                            </a>
                        </div>
                    </div>
                }
            } else {
                <p style="margin-top: 10px;">
                    You are not following any people, check out our suggestions or search for someone you know!
                </p>            
            }
        </div>
    </div>
</div>