@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "People";
}

@using Hooli.ViewModels
@model SuggestionGroupViewModel

@if (Model.People.Count() >= 6)
{
    <div class="content-box">
        @if (Model.ShowInteresting)
        {
            <h1>People you might find intesting</h1>
        }
        else
        {
            <h1>People</h1>
        }
        <div class="container image-wall">
            <div class="row following-info-container">
                <div class="info-photo-container col-min-padding col-xs-8 col-sm-12 col-md-8">
                    <div class="info-container">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.People[0].UserName">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.People[0].ProfilePicture) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.People[0].FirstName @Model.People[0].LastName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-4 col-sm-6 col-md-4">
                    <div class="info-container">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.People[1].UserName">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.People[1].ProfilePicture) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.People[1].FirstName @Model.People[1].LastName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-4 col-sm-6 col-md-4">
                    <div class="info-container">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.People[2].UserName">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.People[2].ProfilePicture) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.People[2].FirstName @Model.People[2].LastName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-8 col-sm-12 col-md-8">
                    <div class="info-container">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.People[3].UserName">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.People[3].ProfilePicture) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.People[3].FirstName @Model.People[3].LastName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-8 col-sm-6 col-md-8">
                    <div class="info-container">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.People[4].UserName">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.People[4].ProfilePicture) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.People[4].FirstName @Model.People[4].LastName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-photo-container col-min-padding col-xs-4 col-sm-6 col-md-4">
                    <div class="info-container">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.People[5].UserName">
                            <div class="info-photo image-box margin-bottom-sm" style="background: url(@Model.People[5].ProfilePicture) center / cover;">
                                <div class="info-photo-shade interesting">
                                    <h1>@Model.People[5].FirstName @Model.People[5].LastName</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}