@model List<Hooli.Models.Post>

@{
    ViewBag.Title = "Hooli";
}

@if (Model != null && Model.Count() > 0) {
    @foreach (var p in Model) {
    <div class="post">
        <div class="row">
            <div class="col-xs-2 col-sm-1 post-rating" data-url="/Post/Vote" data-postId="@p.PostId">
                <button type="button" data-type="up" class="btn btn-link vote btn-up">
                    <span class="glyphicon glyphicon-menu-up"></span>
                </button>
                <div class="post-rating-count">@p.Points</div>
                <button type="button" data-type="down" class="btn btn-link vote btn-down">
                    <span class="glyphicon glyphicon-menu-down"></span>
                </button>
            </div>
            <div class="col-xs-10 col-sm-11 post-body">
                @if (@p.Image != null)
                {
                <div class="pull-right">
                    <a class="image-link" href="@p.Image">
                        <div class="photo-sm photo-feed" style="background: url(@p.Image) center / cover;"></div>
                    </a>
                </div>
                }
                else if (@p.Link != null)
                {
                <div class="pull-right">
                    <a class="image-link" href="@p.Link">
                        <div class="photo-sm photo-feed" style="background: url(@p.Link) center / cover;"></div>
                    </a>
                </div>                    
                }
                <a asp-controller="Post" asp-action="Index" asp-route-id="@p.PostId"><h2>@p.Title</h2></a>
                <div class="post-body-info">
                    <span class="post-author">Posted by <a asp-controller="Profile" asp-action="Index" asp-route-id="@p.User.UserName"><strong>@p.User.FirstName</strong></a></span>
                    <span class="post-date"> on <strong>@p.DateCreated.ToString("MMM dd, yyy @ HH:mm")</strong>.</span>
                </div>
            </div>
        </div>
    </div>
    }
} else {
    @*Shows empty feed message if nothing is to be shown*@
    <script>
    $(document).ready(function () {$("#empty-feed-message").show();});</script>
}
         
