@inject IOptions<AppSettings> AppSettings
@inject Hooli.Services.UserService UserService
@using System.Security.Claims

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title - @AppSettings.Options.SiteTitle</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css" />
            <link rel="stylesheet" href="~/css/site.css" />
          <!--ATH-->
            <link href='http://fonts.googleapis.com/css?family=Rambla:400,700,400italic' rel='stylesheet' type='text/css'>
          <!---->
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.4/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
                  asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
                  asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" /> 
        </environment>
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/magnific-popup.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <form asp-controller="Home" asp-action="Search" class="navbar-search search-mobile" role="search" method="post">
                        <div class="form-group">
                            <input type="search" id="searchString" name="searchString" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default" value="searchString">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img id="navbar-logo-large" src="~/images/logo_hooli.png" alt="Hooli logo" />
                        <img id="navbar-logo-small" src="~/images/logo_hooli_sm.png" alt="Hooli logo" />
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li><a asp-controller="Group" asp-action="Index">Groups</a></li>
                        <li><a asp-controller="People" asp-action="Index">People</a></li>
                        <li><a asp-controller="Event" asp-action="Index">Events</a></li>
                        <li><a asp-controller="Chat" asp-action="Index">Chat</a></li>
                        <li class="hidden-xs">
                            <form asp-controller="Home" asp-action="Search" class="navbar-search" role="search"  method="post">
                                <div class="form-group">
                                    <input type="search" id="searchString" name="searchString" class="form-control" placeholder="Search people and groups...">
                                    <button type="submit" class="btn btn-default" value="searchString">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </form>
                        </li>
                        <li id="navbar-profile-photo">
                            <a asp-controller="Manage" asp-action="Index">
                                <span class="visible-mobile">Profile</span>
                                <img id="navbar-profile" class="hidden-mobile" src="@await UserService.GetProfilePictureUrl(User.GetUserId())" alt="Profile photo" />
                            </a>
                        </li>
                        }
                        <li id="navbar-logout-button">
                            @await Html.PartialAsync("_LoginPartial")
                        </li>
                    </ul>
                   
                </div>
            </div>
        </nav>
        <main class="container body-content">
            @RenderBody()
            <footer>
                <p id="feedTitle"></p>
                <p id="feedText"></p>
                <p>&copy; 2015 - @AppSettings.Options.SiteTitle</p>
            </footer>
        </main>

        <environment names="Development">
            <script src="~/lib/jquery/jquery.min.js"></script>
            <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/lib/hammer.js/hammer.min.js"></script>
            <script src="~/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.4/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                    asp-fallback-src="~/lib/hammer.js/hammer.js"
                    asp-fallback-test="window.Hammer">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                    asp-fallback-src="~/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"
                    asp-fallback-test="window.Zepto">
            </script>
        </environment>
        <script src="~/script/scripts.js" type="text/javascript"></script>
        <script src="~/script/jquery.magnific-popup.js"></script>
        <script src="~/lib/signalr/jquery.signalR.min.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
        <script>
            @*Display the new posts to feed *@
            $(function () {
                $.connection.hub.logging = true;
                var feedHub = $.connection.Feed;
                feedHub.client.feed = function (item) {
                    var feedTitle = $('#feedTitle');
                    var feedText = $('#feedText');
                    //newArrivals.attr("href", item.Url); //Set the URL
                    feedTitle.text(item.Title); //Set the title
                    feedText.text(item.Text);
                    consol.log(item.Title);
                };
                $.connection.hub.start().done(function () {
                    console.log('hub connection open');
                });
            });
        </script>
        @RenderSection("scripts", required: false)
        @RenderSection("ajaxstuff", required: false)
    </body>
</html>
