@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Post";
}

@model Hooli.Models.PostViewModel

<div class="row">

    @if (Model.post.Group != null)
    {
        <div class="col-md-4">
            <div class="content-box padding-remove-sides">
                <div class="info-photo-container">
                    @if (Model.post.Group.Image != null)
                     {   
                        <div class="info-photo" style="background: url(@Model.post.Group.Image) center / cover;">
                            <div class="info-photo-shade">
                                <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@Model.post.Group.GroupId"><h1>@Model.post.Group.GroupName</h1></a>
                            </div>
                        </div>
                    }
                    @if (Model.post.Group.Image == null)
                     {
                        <div class="info-photo" style="background: url(@Url.Content("~/images/hooli_groupphoto_default.jpg")) center / cover;">
                            <div class="info-photo-shade">
                                <a asp-controller="Group" asp-action="SingleGroup" asp-route-id="@Model.post.Group.GroupId"><h1>@Model.post.Group.GroupName</h1></a>
                            </div>
                        </div>
                    }

                </div>
                <div class="group-info padding-side">
                    <p class="group-info-description">
                        @Model.post.Group.Description
                    </p>
                    @if (Model.JoinedGroup.Contains(Model.post.Group.GroupId))
                     {
                        <button type="button" data-id="@Model.post.Group.GroupId" data-url="/Manage/UnfollowGroup" class="btn btn-primary btn-block btn-option btn-follow btn-trans">
                            <span>Unfollow</span>
                        </button>
                    }
                    else
                    {
                        <button type="button" data-id="@Model.post.Group.GroupId" data-url="/Manage/FollowGroup" class="btn btn-primary btn-block btn-follow btn-trans">
                            <span>Follow</span>
                        </button>
                    }

                </div>
            </div>
        </div>


    }
    else if (Model.post.User != null)
    {
        <div class="col-md-4">
            <div class="content-box padding-remove-sides">
                <div class="info-photo-container">
                    <div class="info-photo info-photo-user" style="background: url(@Model.post.User.ProfilePicture) center / cover;">
                        <div class="info-photo-shade">
                            <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.post.User.UserName"><h1>@Model.post.User.FirstName @Model.post.User.LastName</h1></a>
                        </div>
                    </div>
                </div>
                <div class="profile-info row">
                    <div class="form-group clear">
                        <label class="col-xs-3 col-md-4 col-lg-3 control-label">Full name</label>
                        <div class="col-xs-9 col-md-8 col-lg-9">
                            <span>@Model.post.User.FirstName @Model.post.User.LastName</span>
                        </div>
                    </div>
                    <div class="form-group clear">
                        <label class="col-xs-3 col-md-4 col-lg-3 control-label">Age</label>
                        <div class="col-xs-9 col-md-8 col-lg-9">
                            <span>@Model.post.User.DateOfBirth</span>
                        </div>
                    </div>

                    <div class="form-group clear">
                        <label class="col-xs-3 col-md-4 col-lg-3 control-label">Username</label>
                        <div class="col-xs-9 col-md-8 col-lg-9">
                            <span>@Model.post.User.UserName</span>
                        </div>
                    </div>
                </div>
                <div class="profile-buttons padding-side margin-top">
                    @if (Model.FollowingPerson.Contains(Model.post.User.Id))
                    {
                        <button type="button" data-id="@Model.post.User.Id" data-url="/Manage/UnfollowUser" class="btn btn-primary btn-block btn-option btn-follow btn-trans">
                            <span>Unfollow</span>
                        </button>
                    }
                    else
                    {
                        <button type="button" data-id="@Model.post.User.Id" data-url="/Manage/FollowUser" class="btn btn-primary btn-block btn-follow btn-trans">
                            <span>Follow</span>
                        </button>
                    }
                </div>
            </div>
        </div>

    }


    <div class="col-md-8">
        <div class="content-box">
            <div class="view-post">
                <div class="mod-controls">
                    <button type="button" onclick="location.href='@Url.Action("Edit", "Post",  new { id = Model.post.PostId })'" class="btn btn-primary btn-xs btn-2way">
                        <span>Edit</span>
                    </button>
                    <form asp-controller="Post" asp-action="Delete" asp-route-id="@Model.post.PostId" method="post">
                    <button type="submit" class="btn btn-danger btn-xs btn-2way">
                        <span>Delete</span>
                    </button>
                    </form>
                </div>
                <div class="post-rating">
                    <button type="submit" class="btn btn-link vote">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </button>
                    <div class="post-rating-count">@Model.post.Points</div>
                    <button type="submit" class="btn btn-link vote">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                </div>
                @if (Model.post.Image != null)
                {
                        <a class="image-link" href="@Model.post.Image">
                            <div class="photo-sm margin-top" style="background: url(@Model.post.Image) center / cover;"></div>
                        </a>
                }
                else if (Model.post.Link != null)
                {
                        <a class="image-link" href="@Model.post.Link">
                            <div class="photo-sm margin-top" style="background: url(@Model.post.Link) center / cover;"></div>
                        </a>
                }

                <h1>@Model.post.Title</h1>
                <p class="post-body-info">
                    <span class="post-author">Posted by <a href="#"><strong>@Model.post.User.FirstName</strong></a></span>
                    <span class="post-date"> on <strong>@Model.post.DateCreated.ToString("MMM dd, yyy @ HH:mm")</strong>.</span>
                </p>
                <p>
                        @Model.post.Text               
                 </p>
            </div>
            <div class="post-comments clearfix sep-top">
                <h2>Comments</h2>

                @Html.Partial("_CommentTree", Model)
                <div class="parent-comment-container">
                    <div class="comment-container">
                        <a href="#">
                            <div class="info-photo comment" style="background: url(../images/people/people_hordur.jpg) center / cover;"></div>
                        </a>
                        <div class="comment-body">
                            <p class="comment-info">
                                <span class="post-author">Posted by <a href="#"><strong>Hörður Ragnarsson</strong></a></span>
                                <span class="post-date"> on <strong>9. mars 2015 18:48</strong>.</span>
                            </p>
                            <p class="comment-text">
                                Ohh, I like Microsoft very too, many micro very soft!
                            </p>
                            <button type="button" class="btn btn-link btn-xs btn-hooli-link">Reply</button>
                            <div class="reply-to-comment">
                                <form>
                                    <div class="form-group margin-b-no">
                                        <textarea class="form-control input-sm full-width margin-b-no" id="post_body" placeholder="Type your reply."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-sm btn-block">Reply!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parent-comment-container">
                    <div class="comment-container">
                        <a href="#">
                            <div class="info-photo comment" style="background: url(../images/people/people_kari.jpg) center / cover;"></div>
                        </a>
                        <div class="comment-body">
                            <p class="comment-info">
                                <span class="post-author">Posted by <a href="#"><strong>Kári Mímisson</strong></a></span>
                                <span class="post-date"> on <strong>9. mars 2015 18:48</strong>.</span>
                            </p>
                            <p class="comment-text">
                                Wow, that post was awesome, keep it up Johann!
                            </p>
                            <button type="button" class="btn btn-link btn-xs btn-hooli-link">Reply</button>
                        </div>
                    </div>
                    <div class="parent-comment-container">
                        <div class="comment-container">
                            <a href="#">
                                <div class="info-photo comment" style="background: url(../images/people/people_musk.jpg) center / cover;"></div>
                            </a>
                            <div class="comment-body">
                                <p class="comment-info">
                                    <span class="post-author">Posted by <a href="#"><strong>Elon Musk</strong></a></span>
                                    <span class="post-date"> on <strong>9. mars 2015 18:48</strong>.</span>
                                </p>
                                <p class="comment-text">
                                    I totally agree with you Kári!
                                </p>
                                <button type="button" class="btn btn-link btn-xs btn-hooli-link">Reply</button>
                            </div>
                        </div>
                        <div class="parent-comment-container">
                            <div class="comment-container">
                                <a href="#">
                                    <div class="info-photo comment" style="background: url(../images/people/people_hordur.jpg) center / cover;"></div>
                                </a>
                                <div class="comment-body">
                                    <p class="comment-info">
                                        <span class="post-author">Posted by <a href="#"><strong>Hörður Ragnarsson</strong></a></span>
                                        <span class="post-date"> on <strong>9. mars 2015 18:48</strong>.</span>
                                    </p>
                                    <p class="comment-text">
                                        Dude, when is the new tesla coming out??!
                                    </p>
                                    <button type="button" class="btn btn-link btn-xs btn-hooli-link">Reply</button>
                                </div>
                            </div>
                            <div class="parent-comment-container">
                                <div class="comment-container">
                                    <a href="#">
                                        <div class="info-photo comment" style="background: url(../images/people/people_musk.jpg) center / cover;"></div>
                                    </a>
                                    <div class="comment-body">
                                        <p class="comment-info">
                                            <span class="post-author">Posted by <a href="#"><strong>Elon Musk</strong></a></span>
                                            <span class="post-date"> on <strong>9. mars 2015 18:48</strong>.</span>
                                        </p>
                                        <p class="comment-text">
                                            Soon Hörður, very soon ;)
                                        </p>
                                        <button type="button" class="btn btn-link btn-xs btn-hooli-link">Reply</button>
                                    </div>
                                </div>
                                <div class="parent-comment-container">
                                    <div class="comment-container">
                                        <a href="#">
                                            <div class="info-photo comment" style="background: url(../images/people/people_hordur.jpg) center / cover;"></div>
                                        </a>
                                        <div class="comment-body">
                                            <p class="comment-info">
                                                <span class="post-author">Posted by <a href="#"><strong>Hörður Ragnarsson</strong></a></span>
                                                <span class="post-date"> on <strong>9. mars 2015 18:48</strong>.</span>
                                            </p>
                                            <p class="comment-text">
                                                You devious...
                                            </p>
                                            <button type="button" class="btn btn-link btn-xs btn-hooli-link">Reply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="parent-comment-container">
                        <div class="comment-container">
                            <a href="#">
                                <div class="info-photo comment" style="background: url(../images/people/people_statham.jpg) center / cover;"></div>
                            </a>
                            <div class="comment-body">
                                <p class="comment-info">
                                    <span class="post-author">Posted by <a href="#"><strong>Jason Statham</strong></a></span>
                                    <span class="post-date"> on <strong>9. mars 2015 18:48</strong>.</span>
                                </p>
                                <p class="comment-text">
                                    Hey Kári, up for a double cheese at Mickey Dees?
                                </p>
                                <button type="button" class="btn btn-link btn-xs btn-hooli-link">Reply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>