@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Post";
}

@model Hooli.Models.Post

<div class="row">
    <div class="col-md-4">
        <div class="content-box padding-remove-sides">
            <div class="info-photo-container">
                <div class="info-photo" style="background: url(../images/group_photo.jpg) center / cover;">
                    <div class="info-photo-shade">
                        <a href="#"><h1>Silicon valley</h1></a>
                    </div>
                </div>
            </div>
            <div class="group-info padding-side">
                <p class="group-info-description">
                    In the high-tech gold rush of modern Silicon Valley, the people most qualified to succeed are the least capable of handling success. A comedy partially inspired by Mike Judge's own experiences as a Silicon Valley engineer in the late 1980s.
                </p>
                <button type="button" class="btn btn-primary btn-block">
                    <span>Join group</span>
                </button>
                <button type="button" class="btn btn-primary btn-block btn-option">
                    <span>Leave group</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="content-box">
            <div class="view-post">
                <div class="mod-controls">
                    <button type="button" class="btn btn-primary btn-xs btn-2way">
                        <span>Edit</span>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs btn-2way">
                        <span>Delete</span>
                    </button>
                </div>
                <div class="post-rating">
                    <button type="submit" class="btn btn-link vote">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </button>
                    <div class="post-rating-count">@Model.Points</div>
                    <button type="submit" class="btn btn-link vote">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                </div>
                <a class="image-link" href="@Model.Link">
                    <div class="photo-sm margin-top" style="background: url(http://upload.wikimedia.org/wikipedia/commons/9/9e/Steve_Ballmer_at_CES_2010.jpg) center / cover;"></div>
                </a>
                <h1>@Model.Title</h1>
                <p class="post-body-info">
                    <span class="post-author">Posted by <a href="#"><strong>@Model.User.FirstName</strong></a></span>
                    <span class="post-date"> on <strong>@Model.DateCreated.ToString("MMM dd, yyy @ HH:mm")</strong>.</span>
                </p>
                <p>
                    Windows phone hotmail leadership Zune most people steal music google is not a real company. Linux is a cancer Whoo! vista microsoft word bing outlook most people steal music windows leadership. Linux is a cancer google is not a real company i don't know what a monopoly is linux is not in the public domain windows i've got my kids brainwashed most people steal music winning innovation. Hotmail i don't know what a monopoly is linux is not in the public domain bing. Linux is a cancer hotmail i have never honestly thrown a chair in my life open source windows phone.
                </p>
                <p>
                    Leadership powerpoint presentation Whoo! microsoft excel. Innovation no i do not have an ipod windows will be everywhere bing i have never honestly thrown a chair in my life open source Zune linux is not in the public domain. Powerpoint presentation Whoo! i've got my kids brainwashed Zune DEVELOPERS microsoft excel. Winning google is not a real company Zune hotmail bing i have never honestly thrown a chair in my life. Open source outlook programming vista DEVELOPERS.
                </p>
            </div>
            <div class="post-comments">

            </div>
        </div>
    </div>
</div>